<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Love Compatability</title>
  </head>
  <body>
    <h1>Calculate Love Compatability</h1>
    <form
      action="#"
      th:action="@{/results}"
      th:object="${comp}"
      method="post"
    >
      <p>
        First name:
        <input type="text" th:field="*{fname}" />
        <span
          data-th-if="${#fields.hasErrors('fname')}"
          data-th-errors="*{fname}"
        ></span>
      </p>
      <br />
      <p>
        Second name:
        <input type="text" th:field="*{sname}" />
        <span
          data-th-if="${#fields.hasErrors('sname')}"
          data-th-errors="*{sname}"
        ></span>
      </p>
      <p>
        <button type="submit" value="Calculate">Calculate</button>
      </p>
    </form>
  </body>
</html>